In [1]:
import yfinance as yf

In [2]:
df = yf.Ticker('BTC-USD').history(period = '10y', interval = '1d')

In [3]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800,0,0
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200,0,0
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700,0,0
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600,0,0
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100,0,0
...,...,...,...,...,...,...,...
2024-01-31,42946.250000,43717.406250,42298.945312,42582.605469,24673628793,0,0
2024-02-01,42569.761719,43243.167969,41879.191406,43075.773438,21423953779,0,0
2024-02-02,43077.640625,43422.488281,42584.335938,43185.859375,18603843039,0,0
2024-02-03,43184.964844,43359.941406,42890.808594,42992.250000,11169245236,0,0
2024-02-04,42994.941406,43038.773438,42741.363281,42817.226562,12198069248,0,0

In [4]:
df.to_csv('price.csv')