In [1]:
import pytrends
from pytrends.request import TrendReq
from pytrends import dailydata
pytrend = TrendReq()
import time

import pandas as pd

In [2]:
exact_keywords = ['Bitcoin', 'GeForce']
df_list_1 = []
for word in exact_keywords:
    thisword = dailydata.get_daily_data(word = word, start_year = 2022, start_mon = 2, stop_year = 2022, stop_mon = 4)
    thisword = thisword[thisword['isPartial'] == False]
    df_list_1.append(thisword[word])
    print(word + ' done\n')
    time.sleep(10)

Bitcoin:2022-02-01 2022-02-28
Bitcoin:2022-03-01 2022-03-31
Bitcoin:2022-04-01 2022-04-30
Bitcoin done

GeForce:2022-02-01 2022-02-28
GeForce:2022-03-01 2022-03-31
GeForce:2022-04-01 2022-04-30
GeForce done

In [4]:
df1 = pd.concat(df_list_1, axis = 1)
df1.tail(30)

            Bitcoin  GeForce
date
2022-04-01    48.06    68.40
2022-04-02    39.20    79.00
2022-04-03    36.19    51.20
2022-04-04    36.19    48.98
2022-04-05    37.92    46.02
2022-04-06    46.64    62.30
2022-04-07    43.35    72.96
2022-04-08    41.50    47.40
2022-04-09    33.30    61.41
2022-04-10    32.56    49.60
2022-04-11    60.00    45.43
2022-04-12    48.06    55.25
2022-04-13    42.84    52.48
2022-04-14    42.84    58.29
2022-04-15    34.50    48.98
2022-04-16    27.47    49.60
2022-04-17    28.98    34.17
2022-04-18    41.00    46.80
2022-04-19    33.30    48.19
2022-04-20    30.96    49.77
2022-04-21    34.50    61.41
2022-04-22    33.30    55.25
2022-04-23    27.47    44.40
2022-04-24    26.00    45.43
2022-04-25    41.00    42.92
2022-04-26    44.72    33.80
2022-04-27    41.00    56.95
2022-04-28    39.20    43.50
2022-04-29    28.98    48.19
2022-04-30    28.98    44.84

In [5]:
exact_keywords = ['Bitcoin', 'GeForce']
df_list_2 = []
for word in exact_keywords:
    thisword = dailydata.get_daily_data(word = word, start_year = 2022, start_mon = 4, stop_year = 2022, stop_mon = 5)
    thisword = thisword[thisword['isPartial'] == False]
    df_list_2.append(thisword[word])
    print(word + ' done\n')
    time.sleep(10)

Bitcoin:2022-04-01 2022-04-30
Bitcoin:2022-05-01 2022-05-31
Bitcoin done

GeForce:2022-04-01 2022-04-30
GeForce:2022-05-01 2022-05-31
GeForce done

In [6]:
df2 = pd.concat(df_list_2, axis = 1)
df2.head(30)

            Bitcoin  GeForce
date
2022-04-01    25.81    69.35
2022-04-02    21.60    77.00
2022-04-03    20.02    49.60
2022-04-04    20.02    48.19
2022-04-05    20.54    46.02
2022-04-06    25.52    60.52
2022-04-07    23.80    71.04
2022-04-08    23.24    47.40
2022-04-09    18.50    60.52
2022-04-10    17.76    48.80
2022-04-11    33.00    45.43
2022-04-12    25.81    55.25
2022-04-13    23.52    50.84
2022-04-14    23.52    57.42
2022-04-15    18.75    48.19
2022-04-16    14.74    48.80
2022-04-17    15.87    34.17
2022-04-18    22.14    46.80
2022-04-19    17.76    48.19
2022-04-20    17.28    47.40
2022-04-21    18.75    60.52
2022-04-22    17.76    55.25
2022-04-23    14.74    42.18
2022-04-24    14.30    45.43
2022-04-25    22.14    42.18
2022-04-26    24.94    32.50
2022-04-27    22.14    55.25
2022-04-28    21.60    42.75
2022-04-29    15.87    48.19
2022-04-30    15.87    44.08

In [7]:
bitcoin_1 = df1.tail(30)['Bitcoin']
bitcoin_2 = df2.head(30)['Bitcoin']

In [8]:
geforce_1 = df1.tail(30)['GeForce']
geforce_2 = df2.head(30)['GeForce']

In [9]:
bitcoin_1 / bitcoin_2

date
2022-04-01    1.862069
2022-04-02    1.814815
2022-04-03    1.807692
2022-04-04    1.807692
2022-04-05    1.846154
2022-04-06    1.827586
2022-04-07    1.821429
2022-04-08    1.785714
2022-04-09    1.800000
2022-04-10    1.833333
2022-04-11    1.818182
2022-04-12    1.862069
2022-04-13    1.821429
2022-04-14    1.821429
2022-04-15    1.840000
2022-04-16    1.863636
2022-04-17    1.826087
2022-04-18    1.851852
2022-04-19    1.875000
2022-04-20    1.791667
2022-04-21    1.840000
2022-04-22    1.875000
2022-04-23    1.863636
2022-04-24    1.818182
2022-04-25    1.851852
2022-04-26    1.793103
2022-04-27    1.851852
2022-04-28    1.814815
2022-04-29    1.826087
2022-04-30    1.826087
Name: Bitcoin, dtype: float64

In [10]:
geforce_1 / geforce_2

date
2022-04-01    0.986301
2022-04-02    1.025974
2022-04-03    1.032258
2022-04-04    1.016393
2022-04-05    1.000000
2022-04-06    1.029412
2022-04-07    1.027027
2022-04-08    1.000000
2022-04-09    1.014706
2022-04-10    1.016393
2022-04-11    1.000000
2022-04-12    1.000000
2022-04-13    1.032258
2022-04-14    1.015152
2022-04-15    1.016393
2022-04-16    1.016393
2022-04-17    1.000000
2022-04-18    1.000000
2022-04-19    1.000000
2022-04-20    1.050000
2022-04-21    1.014706
2022-04-22    1.000000
2022-04-23    1.052632
2022-04-24    1.000000
2022-04-25    1.017544
2022-04-26    1.040000
2022-04-27    1.030769
2022-04-28    1.017544
2022-04-29    1.000000
2022-04-30    1.017241
Name: GeForce, dtype: float64

In [11]:
dailydata.get_daily_data(word = 'Bitcoin', start_year = 2022, start_mon = 3, stop_year = 2022, stop_mon = 5)

Bitcoin:2022-03-01 2022-03-31
Bitcoin:2022-04-01 2022-04-30
Bitcoin:2022-05-01 2022-05-31

            Bitcoin_unscaled  Bitcoin_monthly  isPartial  scale  Bitcoin
date
2022-03-01               100               42      False   0.42    42.00
2022-03-02                86               36      False   0.36    30.96
2022-03-03                80               34      False   0.34    27.20
2022-03-04                77               32      False   0.32    24.64
2022-03-05                69               29      False   0.29    20.01
...                      ...              ...        ...    ...      ...
2022-05-27                32               32      False   0.32    10.24
2022-05-28                28               28      False   0.28     7.84
2022-05-29                24               24      False   0.24     5.76
2022-05-30                27               27      False   0.27     7.29
2022-05-31                30               30      False   0.30     9.00

[92 rows x 5 columns]