In [1]:
import yfinance as yf

In [2]:
df = yf.Ticker('BTC-USD').history(period = '10y', interval = '1d')

In [3]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800,0,0
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200,0,0
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700,0,0
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600,0,0
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100,0,0
...,...,...,...,...,...,...,...
2022-06-24,21084.648438,21472.917969,20777.511719,21231.656250,24957784918,0,0
2022-06-25,21233.609375,21520.914062,20964.585938,21502.337891,18372538715,0,0
2022-06-26,21496.494141,21783.724609,21016.269531,21027.294922,18027170497,0,0
2022-06-27,21028.238281,21478.089844,20620.199219,20735.478516,20965695707,0,0
2022-06-28,20746.535156,21164.423828,20238.468750,20238.468750,20775499776,0,0

In [4]:
df.to_csv('price.csv')